<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>admin</servlet-name>
        <servlet-class>controller.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>apply</servlet-name>
        <servlet-class>controller.ApplyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>home</servlet-name>
        <servlet-class>controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CRUD</servlet-name>
        <servlet-class>controller.CRUD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>companyManager</servlet-name>
        <servlet-class>controller.CompanyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteApply</servlet-name>
        <servlet-class>controller.DeleteApply</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>log</servlet-name>
        <servlet-class>controller.LogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showApply</servlet-name>
        <servlet-class>controller.ShowApplyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowApplyCompany</servlet-name>
        <servlet-class>controller.ShowApplyCompany</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addPost</servlet-name>
        <servlet-class>controller.addPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showPostByCompany</servlet-name>
        <servlet-class>controller.showPostByCompany</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profile</servlet-name>
        <servlet-class>controller.profileController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>admin</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>apply</servlet-name>
        <url-pattern>/apply</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CRUD</servlet-name>
        <url-pattern>/crud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>companyManager</servlet-name>
        <url-pattern>/companyManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteApply</servlet-name>
        <url-pattern>/deleteApply</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>log</servlet-name>
        <url-pattern>/log</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showApply</servlet-name>
        <url-pattern>/showApply</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowApplyCompany</servlet-name>
        <url-pattern>/showApplyCompany</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addPost</servlet-name>
        <url-pattern>/addPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showPostByCompany</servlet-name>
        <url-pattern>/showPostByCompany</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profile</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
